* {
    font-family: Verdana;
    margin: 0;
}

body {
    background: #efefef;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap-reverse;
}

.box {
    height: 100px;
    min-width: 200px;
    flex-grow: 1;
}

.one {
    background: red;
    flex-shrink: 1;
}

.two {
    background: blue;
    flex-shrink: 2;
}

.three {
    background: green;
    flex-shrink: 6;
}